[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
yapf = "*"
pandas = "*"
pylint = "*"
pipenv-setup = "*"
twine = "*"
python-dateutil = "*"

[packages]
pytz = "*"
typing-extensions = "*"
deprecated = "*"

[requires]
python_version = "3.7"
