[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
yapf = "*"
pylint = "*"

[packages]
backtrader = "*"
ibapi = {path = "./lib/ib/ibapi-9.79.1-py3-none-any.whl"}
pytz = "*"

[requires]
python_version = "3.7"
